[submodule "thirdparty/cspec"]
	path = thirdparty/cspec
	url = https://github.com/mumuki/cspec
[submodule "thirdparty/so-commons-library"]
	path = thirdparty/so-commons-library
	url = https://github.com/sisoputnfrba/so-commons-library
[submodule "tests/c-comenta-pruebas"]
	path = tests/c-comenta-pruebas
	url = https://github.com/sisoputnfrba/c-comenta-pruebas
